body {
	background: #9ACD32;
	font-family: 'Raleway';
}

header {
	color: white;
	text-align: center;
	border: 3px double white;
	margin: 10px 0px;
}

h1 {
	font-size: 28px;
	margin-bottom: 15px 0px;
}

i {
	padding-left: 5px;
}

#guy {
	color: #87CEFA;
}

#babe {
	color: #FF69B4;
}

#child {
	color: #8A2BE2;
}

#love {
	color: red;
}

#money {
	color: #2E8B57;
}

#home {
	color: #FF8C00;
}

#car {
	color: black;
}

#happy {
	color: yellow;
}

p {
	margin: 10px 5px;
	color: white;
}

#playerturn {
	margin: 10px;
	font-size: 22px;
}

#playercolor {
	color: red;
}

table {
	float: left;
	font-size: 14px;
}

td {
	text-align: center;
	height: 90px;
	width: 140px;
	border: 1px solid black;
	border-radius: 5px;
	padding: 0px;
}

div {
	text-align: right;
	height: 50px;
	width: 100px;
	display: block;
	margin-left: 30px;
}

#right {
	height: 160px;
	width: 500px;
	float: left;
	margin-left: 15px;
}

#scoreboard {
	height: 50px;
	width: 260px;
	margin: 1px 0 0 0px;
	color: white;
}

#scoreboard tr td {
	height: 20px;
	width: 100px;
	border: none;
	text-align: center;
}


#button {
	/*margin-left: 5px;*/
	float: left;
	/*background: white;*/
	border: none;
	outline: none;
}

#rewind {
	height: 65px;
	width: 100px;
	border-radius: 15px;
	float: left;
	/*border: none;*/
	outline: none;
	margin-left: 5px;
	font-size: 20px;
	background: red;
}

table#windisplay {
	height: 50px;
	width: 450px;
	margin-top: 5px;
}

#winner {
	font-size: 40px;
	border: none;
}

#gifwindow {
	height: 250px;
	width: 450px;
	float: right;
	border: 10px ridge grey;
	position: relative;
	margin-top: 20px;
	right: 80px;
	background: black;
}
/*Designed to give theatre effect.*/

#gif {
	border: none;
}

div.player_name {
	height: 30px;
	width: 100px;
	text-align: left;
	display: table;
}

#redsym, #bluesym {
	height: 10px;
	width: 10px;
	border-radius: 5px;
	margin-left: 10px;
	margin-top: 5px;
	float: left;
}

#redsym {
	background: #FF0000;
}

#bluesym {
	background: #0000FF;
}

.player_name {
	height: 40px;
	width: 70px;
	margin-left: 5px;
	float: left;
}

td#red_score, td#blue_score {
	width: 90px;
	text-align: center;
}

.red {
	background: #B22222;
}

.blue {
	background: #87CEFA;
}

.pink {
	background: #FF69B4;	
}

.orange {
	background: #FFA500;
}

.green {
	background: #98FB98;
}

.gold {
	background: #FFD700;
}

.rspot, .bspot {
	height: 10px;
	width: 10px;
	border-radius: 5px;
	background: white;
	margin-left: 5px;
}

#Red {
	background: #FF0000;
}

#Blue {
	background: #0000FF;
}